<div class="container">
  <div class="header">
    <div class="menu">
      <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
      <mat-menu #menu="matMenu">
        <a mat-menu-item routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >Home</a>
        <a mat-menu-item routerLink="/map" routerLinkActive="active">Map</a>
        <a mat-menu-item routerLink="/profile" routerLinkActive="active">Profile</a>
        <a routerLink="/questionnaire" routerLinkActive="active">Take the Quiz!</a>
      </mat-menu>
    </div>
    <div class="logo-container">
      <div class="logo"><img routerLink="/" src="assets/dormsteadlogov1.png" /></div>
    </div>
    <div class="buttons">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >Home</a>
      <a routerLink="/map" routerLinkActive="active">Map</a>
      <a routerLink="/profile" routerLinkActive="active">Profile</a>
      <a routerLink="/questionnaire" routerLinkActive="active">Take the Quiz!</a>
    </div>
  </div>
  <div class="router-outlet">
    <router-outlet></router-outlet>
  </div>
  <div class="footer"></div>
</div>

