<div class="container">

  <mat-toolbar id="navbar">
    <div>Dormstead.haus</div>

    <div id="navbar-mid"></div>
    
    <div id="navbar-left">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="items">Home</a>
      <a routerLink="/map" routerLinkActive="active" class="items">Map</a>
      <ng-template [ngIf]="auth.user$ | async" [ngIfElse]="showLogin" let-username="ngIf">
        <!-- <span> Hi, {{ username.displayName }}! </span> -->
        <a routerLink="/profile" routerLinkActive="active" class="items">Profile</a>
        <a (click)="auth.logout()" routerLink="/" class="items">Logout</a>
      </ng-template>
      <ng-template #showLogin>
        <a (click)="auth.login()" class="items">Login</a>
      </ng-template>
    </div>
  </mat-toolbar>

  <div class="router-outlet">
    <router-outlet></router-outlet>
  </div>

  <div class="footer"></div>
</div>

