<div class="container">

  <mat-toolbar id="navbar">
    <div>Dormstead.haus</div>

    <div id="navbar-mid"></div>
    
    <div id="navbar-left">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="items">Home</a>
      <a routerLink="/map" routerLinkActive="active" class="items">Map</a>
      <a routerLink="/profile" routerLinkActive="active" class="items">Profile</a>
    </div>
  </mat-toolbar>

  <div class="router-outlet">
    <router-outlet></router-outlet>
  </div>

  <div class="footer"></div>
</div>

